body {
	margin: 0;
	padding: 0;
	font-family: Open Sans;
}
.header_info {
	text-align: center;
	height: 36px;
	background: #F8F8F8;
}
.header_info .info {
	padding-right: 30px;
	margin-top: 5px;
	display: inline-block;
	text-decoration: none;
	cursor: default;
	font-size: 12pt;
	color: #1D1D1B;
}
.header_info .info:first-child {
	padding-left: 20px;
	background: url("photos/mark.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.header_info .info ul {
	text-align: left;
	padding: 0;
	list-style:none;
	display: none;
	background: #F8F8F8;
	width: 180px;
	top: 7px;
}
.header_info .info:hover ul {
	display: block;
	position: absolute;
	z-index: 9999;
}
.header_info .info:nth-child(3):after,.header_info .info:nth-child(4):after {
	content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-bottom: 1px solid #1D1D1B;
    border-left: 1px solid #1D1D1B;
    transform: rotate(-45deg);
    float:right;
    margin-left: 10px;
    margin-top: 3px;
}
.header_info .info:first-child {
	margin-right: 100px;
}
.header_info .info:last-child {
	margin-left: 365px;
	color: #696969;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
.header_main {
	margin-top: 35px;
	text-align: center;
}
.header_main .main_menu{
	position: relative;
	font-size: 14pt;
	color: #1D1D1B;
	text-decoration: none;
	display: inline-block;
}
.header_main .btn:hover {
	background: #f6f6f6;
	border-radius: 3px;
}
div input[name="search"] {
	width: 355px;
	height: 48px;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	padding: 0 16px;
}
.header_main .search_btn{
	background: #E0001B;
	background-image: url(photos/search.png);
	background-repeat: no-repeat;
	width: 56px;
	height: 50px;
	border: none;
	background-position: 50% 50%;
	position: relative;
	top:20px;
	left:-10px;
	border-radius: 0 5px 5px 0;
}
.header_main .search_btn:hover {
	background-color: #EB4E61;
}
.header_main .btn {
	padding: 16px 20px 16px 50px;
}
.header_main .btn:nth-child(3){
	background-image: url(photos/like.png);
	background-repeat: no-repeat;
	background-position: 15px 50%;
}
.header_main .btn:nth-child(4){
	background-image: url(photos/compare.png);
	background-repeat: no-repeat;
	background-position: 15px 50%;
}
.header_main .btn:nth-child(5){
	background-image: url(photos/cart.png);
	background-repeat: no-repeat;
	background-position: 15px 50%;
}
.header_main span:nth-child(1) {
	padding:3px 8px;
	background:red;
	color:white;
	font-size: 12pt;
	margin-left: 15px;
	border-radius: 50%;
}
.header_main .main_menu:first-child {
	top: 5px;
	left: -90px;
}
.header_main .main_menu:nth-child(2) {
	left: -10px;
}
.header_main .main_menu:nth-child(3) {
	left: 90px;
	
}
.header_main .main_menu:nth-child(4) {
	left: 90px;
}
.header_main .main_menu:nth-child(5) {
	left: 90px;
}
/*////////////////////////////////////////////////////////////////////*/
.header_menu {
	margin-top: 28px;
	text-align: center;
}
.header_menu .menu_btn {
	position: relative;
	background-color: #fafafa;
	font-size: 14pt;
	padding: 15px 40px;
	text-decoration: none;
	color: #1D1D1B;
	padding-right: 0px;
}
.header_menu .menu_btn:first-child {
	left: -35px;
	background-color: #E0001B;
	background-image: url(photos/1.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	font-size: 16pt;
	padding-right: 20px;
	margin-left: 65px;
	color: white;
	border-radius: 5px 0 0 5px;
	margin-top: 1px;
}

.header_menu .menu_btn:hover {
	background: rgb(29,29,27,.1);
}
.header_menu .catalog:hover {
	background-color: #E0001B;
	background-image: url(photos/1.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.header_menu .menu_btn:nth-child(2) {
	left: -39px;
	background-image: url(photos/2.png);
	background-position: 15px 50%;
	background-repeat: no-repeat;
}
.header_menu .menu_btn:nth-child(3) {
	left: -44px;
	background-image: url(photos/3.png);
	background-position: 15px 50%;
	background-repeat: no-repeat;
}
.header_menu .menu_btn:nth-child(4) {
	left: -48px;
	background-image: url(photos/4.png);
	background-position: 15px 50%;
	background-repeat: no-repeat;
}
.header_menu .menu_btn:nth-child(5) {
	left: -53px;
	background-image: url(photos/5.png);
	background-position: 15px 50%;
	background-repeat: no-repeat;
}
.header_menu .menu_btn:last-child {
	left: -58px;
	padding-left: 35px;
	color:#E0001B;
	background-image: url(photos/6.png);
	background-position: 10px 50%;
	background-repeat: no-repeat;
	border-radius: 0 5px 5px 0;
}
.header_menu .menu_btn:not(.catalog) {
	padding-right: 14px;
}




/*////////////////////////////////////////////////////////////////*/
.breadcrumbs {
	width: 1120px;
	margin-left: auto;
	margin-right: auto; 
}.breadcrumbs ul li{
	display: inline-block;
	margin-right: 16px;
	list-style: none;
}
.breadcrumbs ul{
	margin-left: -155px;
	margin-top: 32px;
}
.breadcrumbs ul li a{
	text-decoration: none;
	color: rgba(29, 29, 27,.5);
}
.breadcrumbs ul li a:hover {
	color: #1D1D1B;
}
.breadcrumbs ul li:not(:last-child):after {
	content: "";
    width: 8px;
    height: 8px;
    display: block;
    border-bottom: 1.5px solid rgba(29, 29, 27,.5);
    border-left: 1.5px solid rgba(29, 29, 27,.5);
    transform: rotate(-135deg);
    float:right;
    margin-left: 8px;
    margin-top: 8px;
}
/*//////////////////////////////////////////////////////////*/
main {
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}
main .date {
	color: rgba(29, 29, 27,.5);
}
main .main {
	
	width: 832px;
}
.main .like_btn {
	border: none;
	background-color: rgba(0,0,0,0);
	background-image: url(blog_img/like.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
}
.main .share{
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.main img::first-child {
	width: 24px;
	height: 24px;
}
.main img[src="blog_img/blog1.png"] {
	width: 832px;
	height: 297px;
}
.main button {
	border: none;
	background-color: rgba(0,0,0,0);
	font-size: 14px;
	color: rgba(29, 29, 27,.5);
	width: 65px;
	height: 32px;
	/*padding: 4px 8px;*/
}
.main button span {
	margin-left: 8px;
}
.main button:not(.like_btn):hover {
	background-color: rgba(29, 29, 27,.04);
	border-radius: 3px;
}
.main .social {
	display: flex;
	align-items: center;
	position: relative;
	left: 355px;
}
.main .social p{
	margin-right: 16px;
}
.main .like, .main .views {
	margin-right: 8px;
}
/*//////////////////////////////////////////////////////////////////////////*/
main .sub_blog {
	margin-top: -811px;
	float: right;
	width: 256px;
	height: 342px;
}
/*...........................................................................*/

.products_list {
	width: 1120px;
	height: 496px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;

}
.products .product {
	display: inline-block;
	text-align: center;
	/*border: 1px solid rgba(29, 29, 27,.04);*/
	border: 1px solid red;
	border-radius: 5px;
	width: 256px;
	height: 431px;
	margin-right: 15px;
}
.products .discount {
	color: #E0001B;
	font-style: 14px;
	font-weight: 600;
	border: 1px solid rgba(29, 29, 27,.04);
	border-radius: 5px;
	position: absolute;
	margin-top: 12px;
	margin-left: 12px;
}
.products .like {
	/*margin-top: 100px;*/
	height: 16px;
	width: 18px;
	border: none;
	background-image: url("photos/like.png");
	background-repeat: no-repeat; 
}
.products .like:hover{
	background-image: url("photos/liked.png");
	background-repeat: no-repeat;
} 
.products .liked {
	background-image: url("photos/liked.png");
	background-repeat: no-repeat;
	height: 16px;
	width: 18px;	
}
.products .stars {
	float: left;
	height: 13px;
	width: 14px;
}
.products .another_cost {
	text-decoration-line: line-through;
	color: rgba(29, 29, 27,.2);
	font-size: 12px;
}
.products .cost {
	font-weight: bold;
	font-size: 16px;
	color: #1D1D1B;
}
.products .element_name {
	font-size: 14px;
}
.products .image {
	height: 212px;
	width: 212px;
}
.products .compare {
	width: 110px;
	height: 36px;
	background-color: rgba(29, 29, 27,.04);
	color: #1D1D1B;
	border: none;
	border-radius: 2px;
}
.products .add {
	width: 110px;
	height: 36px;
	background-color: #E0001B;
	color: #FFFFFF;
	border: none;
	border-radius: 2px;

}
/*////////////////////////////////////////////////////////////////////*/
.beginning_btn {
	background-color: rgba(29, 29, 27,.02);
	height: 72px;
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.beginning_btn p {
	font-weight: 600;
	font-size: 16px;
	color: #1D1D1B;
}
.beginning_btn p:after {
	content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-bottom: 2px solid #1D1D1B;
    border-left: 2px solid #1D1D1B;
    transform: rotate(135deg);
    float:left;
    margin-left: -25px;
    margin-top: 10px;
}
/*//////////////////////////////////////////////////////////*/
footer {
	padding-bottom: 40px;
	background-color: rgba(29, 29, 27,.04);
}
footer table tr {
	display: flex;
	flex-direction: column;
	float: left;
	margin-right: 73px;
	margin-top: 41px;
}
footer table tr th {
	text-align: left;
	margin-bottom: 24px;
}
footer a {
	text-decoration: none;
	color: #727272;
}
footer a:first-child {
	color: #1D1D1B;
}
footer table td {
	margin-bottom: 16px;
}
footer table th {
	margin-bottom: 24px;
}
footer table{
	margin-left: auto;
	margin-right: auto;
}
footer table img {
	margin-right: 14px;
}