body {
	margin: 30px;
	padding: 0;
}

.action a:after {
	margin-left: 10px;
	content:"";
	width: 4px;
    height:4px;
    display: inline-block;
    border-bottom: 2px solid #E0001B;
    border-left: 2px solid #E0001B;
    transform: rotate(-135deg);
}
.action a {
	display: inline-block;
	color: #E0001B;
	font-size: 14px;
	text-decoration: none;
}
.action h1 {
	display: inline-block;
	font-weight: 600;
	font-size: 30px;
}
.action {
	margin-left: auto;
	margin-right: auto;
}
.products .left::after,.products .right::before {
	content: "";
    width: 11px;
    height: 11px;
    display: block;
    border-bottom: 2px solid #d2d2d1;
    border-left: 2px solid #d2d2d1;
}
.products .left:after {
	transform: rotate(45deg);
}
.products .right:before {
	transform: rotate(-135deg);
}
.products .left,.products .right {
	width: 31px;
	height: 31px;
	border: 2px solid rgba(29, 29, 27,.2);
	background-color: rgba(0,0,0,0);
	border-radius: 50%;
	margin: 0 32px;
	margin-top: 168px;
}
.products .left:hover,.products .right:hover {
	background-color: rgba(29, 29, 27,.2);
	border-color: rgba(29, 29, 27,.2);
}
.products .left:after:hover,.products .right:after:hover {
	border-color: white;
}
.products {
	display: flex;
	justify-content: center;
}
.product {
	/*border: 1px solid rgba(29, 29, 27,.04);*/
	border: 1px solid red;
	border-radius: 5px;
	width: 256px;
	margin-right: 32px;
}
.product .discount {
	color: #E0001B;
	font-style: 14px;
	font-weight: 600;
	border: 1px solid rgba(29, 29, 27,.04);
	border-radius: 5px;
	position: absolute;
	margin-top: 12px;
	margin-left: 12px;
} 
.product .estimate .stars{
	display: inline-block;
	margin-left: 12px;
}
.product .like {
	float: right;
	margin-right: 17px;
}
.product .liked, .products .like:hover {
	content: url("photos/liked.svg");
}
.product .image {
	height: 212px;
	width: 212px;
}
.product .name {
	margin-left: 12px;
	font-size: 14px;
	float: left;
}
.product .another_cost {
	text-decoration-line: line-through;
	color: rgba(29, 29, 27,.2);
	font-size: 12px;
	margin-right: 50%;
}
.product .cost {
	display: inline-block;
	margin-left: 12px;
	margin-bottom: 16px;
}
.product .cost p:first-child {
	font-weight: bold;
	font-size: 16px;
	color: #1D1D1B;
	margin-right: 12px;
}
.product .compare {
	width: 110px;
	height: 36px;
	background-color: rgba(29, 29, 27,.04);
	color: #1D1D1B;
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
	margin-right: 12px;
}
.product .add {
	width: 110px;
	height: 36px;
	background-color: #E0001B;
	color: #FFFFFF;
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
}